<!DOCTYPE html>
<html>
  <head>
    <script src="main.js"></script>
    <title>Personal Website {{ .Env.version }}</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body onload="changeProfession()">
    <div class="cloud-icon"></div>
    <div class="server-icon"></div>
    <div class="penguin-icon"></div>
    <header>
      <h1>Welcome to My Personal Website  {{ .Env.version }}</h1>
    </header>
    <div class="content" >
      <h2>Hello, my name is Berk</h2>
      <p>I am a junior <p id="profession"></p>.</p>
    </div>
    <footer>
      <div class="signature">Made with ChatGPT-3 to test networks and connection between servers.</div>
      <div class="social-links">
        <a href="https://github.com/safderun">GitHub</a>
        <a href="https://linkedin.com/in/safderun">LinkedIn</a>
        <a href="mailto:burakberkkeskin@gmail.com">Email</a>
      </div>
    </footer>
  </body>
</html>
